@tailwind base;
@tailwind components;
@tailwind utilities;



body {
   @apply bg-[#F2F5F]
}


.logo-top-bar {
   background: linear-gradient(131deg, #A4A4A4 19.87%, rgba(217, 217, 217, 0.15) 100%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   cursor: default;
}

::selection {
   background-color: #525FE1;
   color: white;
}